<article class="container action">
  <section class="wrapper">
    <div class="column twelve">
      <%=image_tag('services/our-mission.png')%>
    </div>
    <!-- <div class="overlay"></div> -->
    <div class="column twelve title-area">
      <h1>Our Mission</h1>
      <div class="separator">
        <i class="fa fa-sort fa-rotate-90" aria-hidden="true"></i>
      </div>
      <p>To democratize live video broadcasting and provide the tools to bring every event live online.</p>
    </div>
  </section>
</article>

