<article class="container">
  <section class="wrapper hero hero-company">
    <div class="column content">
      <header class="header">
        <h1>we help the
          <span class="helighted">world's </span> top
          <span class="helighted">companies</span> build
          <span class="helighted">amazing</span> digital
          <span class="helighted">products</span>
        </h1>
      </header>
    </div>
  </section>
</article>
<!-- .container -->