<article class="container-fluid intro">
  <section class="wrapper">
    <div class="column twelve medium-four top">
      <h1>We view ‘business’ differently at RSG.</h1>
    </div>
    <div class="column twelve medium-eight details">
      <p>RSG Nordic AB, with offices in Gothenburg and Stockholm, Sweden, is a consultant company specialized in corporate/company and project management assignments.</p>
      <p>Our competency ranges from general management, organizational issues, business development, supply chain management and optimizing business processes (with or without IT support) to more specific areas such as how to integrate web-based transactions into the business.</p>
    </div>
  </section>
</article>