  @import 'https://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,700|Cambo|Imprima|Lato:100,300,400,700|Poppins:300,400,500,600|Ruluko|Snippet|Titillium+Web:200,300,400,600';
html, body {
  font-size: 1em;
  -webkit-text-size-adjust: 1em;
  -ms-text-size-adjust: 1em;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  -webkit-tap-highlight-color: transparent; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1em;
  line-height: 1.6em;
  font-weight: 400;
  font-family: "Imprima", sans-serif;
  color: #222222;
  background-color: #ffffff;
  position: relative;
  margin: 0; }

html, body, div, div, dl, dt, dd, span, h1, h2, h3, h4, h5, h6, p, a, em, i, b, small, strong, input, footer, header, menu, section, figure, ul, ol, li, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

html,
button,
input,
select,
textarea {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

a {
  color: #333333;
  text-decoration: underline;
  outline: 0; }

a:hover, a:focus, a:active {
  outline: 0;
  color: #FFDA6C; }

a:focus {
  outline: thin dotted; }

img, video, audio {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0; }

audio,
canvas,
video {
  display: inline-block;
  display: inline;
  *zoom: 1; }

figure {
  margin: 0;
  width: 100%;
  height: auto; }

ul {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin: 0; }

li {
  position: relative;
  margin: 1rem 0;
  text-align: center; }

.highlighted {
  color: #FFDA6C; }

.margin-20-bottom {
  margin-bottom: 2rem; }

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  font-size: 110%;
  position: relative;
  margin-right: 3px;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

.navbar, .brand, .button, a, p, address, figcaption {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

p {
  margin: 1em 0; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

small {
  font-size: 75%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu,
ol,
ul {
  padding: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.spacer {
  height: 2em;
  min-width: 2em;
  margin: 1em 0;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.full-image .wrapper {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0; }

h1, h2, h3, h4, h5, h6 {
  width: 100%;
  font-weight: bold;
  color: #222222;
  text-rendering: optimizeLegibility;
  transition: all 0.75s ease 0s;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1, .h1 {
  font-size: 5em;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  margin: 0.67em 0; }

h2, .h2 {
  font-size: 4.5em;
  line-height: 1.25;
  letter-spacing: 0.1rem;
  margin: 1rem 0; }

h3, .h3 {
  font-size: 4em;
  line-height: 1.3;
  letter-spacing: 0.1rem;
  margin: 1em 0; }

h4, .h4 {
  font-size: 3.5em;
  line-height: 1.35;
  letter-spacing: 0.08rem;
  margin: 0.67em 0; }

h5, .h5 {
  font-size: 3em;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  margin: 0.67em 0; }

h6, .h6 {
  font-size: 2.5em;
  line-height: 1.6;
  letter-spacing: 0;
  margin: 0.67em 0; }

ul {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin: 0; }

li {
  position: relative;
  margin: 1rem 0;
  text-align: center; }

li > ul,
li > ol {
  margin-bottom: 0; }

ul, ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 1.5em; }

ol ol li {
  list-style-type: lower-alpha; }

ol ol ol li {
  list-style-type: lower-roman; }

nav ul, nav ol {
  margin: 0;
  list-style: none; }

ul, ol {
  margin: 20px 0;
  padding: 0 0 0 40px; }

dl dt {
  font-weight: 700; }

dd {
  margin-left: 1.5em; }

dl {
  display: table; }
  dl:before, dl:after {
    content: " "; }
  dl:after {
    clear: both; }
  dl dt {
    float: left;
    width: 25%;
    display: block;
    font-weight: 400; }
  dl dd {
    overflow: hidden;
    display: block; }

p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6,
ol + h2,
ol + h3,
ol + h4,
ol + h5,
ol + h6,
dl + h2,
dl + h3,
dl + h4,
dl + h5,
dl + h6,
blockquote + h2,
blockquote + h3,
blockquote + h4,
blockquote + h5,
blockquote + h6,
hr + h2,
hr + h3,
hr + h4,
hr + h5,
hr + h6,
pre + h2,
pre + h3,
pre + h4,
pre + h5,
pre + h6,
table + h2,
table + h3,
table + h4,
table + h5,
table + h6,
form + h2,
form + h3,
form + h4,
form + h5,
form + h6,
figure + h2,
figure + h3,
figure + h4,
figure + h5,
figure + h6 {
  margin-top: 2em; }

code, kbd, pre, samp {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 1.5em;
  text-transform: lowercase; }

pre {
  max-height: none;
  background: #f9f9fa;
  border: 1px solid rgba(51, 51, 51, 0.1);
  margin: 2em;
  padding: 2em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  overflow-x: auto;
  padding: 1.25em;
  border-left-width: 5px;
  margin: 1.6em 0;
  white-space: pre;
  word-wrap: normal; }

code {
  color: #000;
  background: transparent;
  text-shadow: 0 1px #fff;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

.line-numbers {
  font-family: "monaco", "Consolas", "Lucida Console", monospace;
  list-style: decimal-leading-zero inside;
  white-space: nowrap;
  overflow: auto;
  margin-left: 0; }
  .line-numbers .line-numbers code {
    white-space: pre; }

.code-comment {
  opacity: 0.75;
  filter: alpha(opacity=75); }

.flex-layout {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  min-height: 100vh;
  position: relative; }

.flex-wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 0vh;
  margin: 1rem 0;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.flex-layout-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%; }

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%; }

.container, .container-fluid {
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  background-color: transparent;
  padding: 2em;
  margin: 1em auto; }

.wrapper {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%; }

.auto-column {
  -moz-box-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto; }

.column {
  -moz-box-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  transition: all 0.75s ease 0s;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  position: relative;
  min-height: 1em;
  margin: 0 auto 1em auto; }

.offset {
  margin-left: 1em;
  margin-right: 1em; }

.offset-none {
  margin-left: 0%; }

.offset-one {
  margin-left: 8.33333%; }

.offset-two {
  margin-left: 16.66667%; }

.offset-three {
  margin-left: 25%; }

.offset-four {
  margin-left: 33.33333%; }

.offset-five {
  margin-left: 41.66667%; }

.offset-six {
  margin-left: 50%; }

.offset-seven {
  margin-left: 58.33333%; }

.offset-eight {
  margin-left: 66.66667%; }

.offset-nine {
  margin-left: 75%; }

.offset-ten {
  margin-left: 83.33333%; }

.offset-eleven {
  margin-left: 91.66667%; }

.order-first-column,
.order-last-column,
.order-one-column,
.order-two-columns,
.order-three-columns,
.order-four-columns,
.order-five-columns,
.order-six-columns {
  background-color: #84008c; }

.large-column {
  height: 20rem; }

.auto-row, .auto-column, .auto-columns {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.flex-row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; }

.flex-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.row-reverse {
  -webkit-flex-direction: horizontal;
  -moz-flex-direction: horizontal;
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.column-reverse {
  -webkit-flex-direction: vertical;
  -moz-flex-direction: vertical;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.align-left {
  -ms-flex-pack: start;
  align-items: flex-start;
  justify-content: flex-start; }

.align-right {
  -ms-flex-pack: end;
  align-items: flex-end;
  justify-content: flex-end; }

.align-center {
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center; }

.align-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-content: space-between; }

.align-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  align-content: space-around; }

.top-column {
  -ms-flex-align: start;
  align-items: flex-start;
  justify-content: flex-start; }

.middle-column {
  -ms-align-items: center;
  align-items: center;
  justify-content: center; }

.bottom-column {
  -ms-flex-align: end;
  align-items: flex-end;
  justify-content: flex-end; }

.order-first-column {
  -moz-box-ordinal-group: -1;
  -moz-box-ordinal-group: -1;
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1; }

.order-natural-column {
  -moz-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0; }

.order-last-column {
  -moz-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1; }

.one {
  flex-basis: 8.333%;
  width: 8.333%;
  max-width: 8.333%; }

.two {
  flex-basis: 16.666%;
  width: 16.666%;
  max-width: 16.666%; }

.three {
  flex-basis: 25%;
  width: 25%;
  max-width: 25%; }

.four {
  flex-basis: 33.333%;
  width: 33.333%;
  max-width: 33.333%; }

.five {
  flex-basis: 41.667%;
  width: 41.667%;
  max-width: 41.667%; }

.six {
  flex-basis: 50%;
  width: 50%;
  max-width: 50%; }

.seven {
  flex-basis: 58.333%;
  width: 58.333%;
  max-width: 58.333%; }

.eight {
  flex-basis: 66.667%;
  width: 66.667%;
  max-width: 66.667%; }

.nine {
  flex-basis: 75%;
  width: 75%;
  max-width: 75%; }

.ten {
  flex-basis: 83.333%;
  width: 83.333%;
  max-width: 83.333%; }

.eleven {
  flex-basis: 91.667%;
  width: 91.667%;
  max-width: 91.667%; }

.twelve {
  flex-basis: 100%;
  width: 100%;
  max-width: 100%; }

.small-one {
  flex-basis: 8.333%;
  width: 8.333%;
  max-width: 8.333%; }

.small-two {
  flex-basis: 16.666%;
  width: 16.666%;
  max-width: 16.666%; }

.small-three {
  flex-basis: 25%;
  width: 25%;
  max-width: 25%; }

.small-four {
  flex-basis: 33.333%;
  width: 33.333%;
  max-width: 33.333%; }

.small-five {
  flex-basis: 41.667%;
  width: 41.667%;
  max-width: 41.667%; }

.small-six {
  flex-basis: 50%;
  width: 50%;
  max-width: 50%; }

.small-seven {
  flex-basis: 58.333%;
  width: 58.333%;
  max-width: 58.333%; }

.small-eight {
  flex-basis: 66.667%;
  width: 66.667%;
  max-width: 66.667%; }

.small-nine {
  flex-basis: 75%;
  width: 75%;
  max-width: 75%; }

.small-ten {
  flex-basis: 83.333%;
  width: 83.333%;
  max-width: 83.333%; }

.small-eleven {
  flex-basis: 91.667%;
  width: 91.667%;
  max-width: 91.667%; }

.small-twelve {
  flex-basis: 100%;
  width: 100%;
  max-width: 100%; }

@media (min-width: 48em) {
  .medium-one {
    flex-basis: 8.333%;
    width: 8.333%;
    max-width: 8.333%; }

  .medium-two {
    flex-basis: 16.666%;
    width: 16.666%;
    max-width: 16.666%; }

  .medium-three {
    flex-basis: 25%;
    width: 25%;
    max-width: 25%; }

  .medium-four {
    flex-basis: 33.333%;
    width: 33.333%;
    max-width: 33.333%; }

  .medium-five {
    flex-basis: 41.667%;
    width: 41.667%;
    max-width: 41.667%; }

  .medium-six {
    flex-basis: 50%;
    width: 50%;
    max-width: 50%; }

  .medium-seven {
    flex-basis: 58.333%;
    width: 58.333%;
    max-width: 58.333%; }

  .medium-eight {
    flex-basis: 66.667%;
    width: 66.667%;
    max-width: 66.667%; }

  .medium-nine {
    flex-basis: 75%;
    width: 75%;
    max-width: 75%; }

  .medium-ten {
    flex-basis: 83.333%;
    width: 83.333%;
    max-width: 83.333%; }

  .medium-eleven {
    flex-basis: 91.667%;
    width: 91.667%;
    max-width: 91.667%; }

  .medium-twelve {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }
@media (min-width: 64em) {
  .large-one {
    flex-basis: 8.333%;
    width: 8.333%;
    max-width: 8.333%; }

  .large-two {
    flex-basis: 16.666%;
    width: 16.666%;
    max-width: 16.666%; }

  .large-three {
    flex-basis: 25%;
    width: 25%;
    max-width: 25%; }

  .large-four {
    flex-basis: 33.333%;
    width: 33.333%;
    max-width: 33.333%; }

  .large-five {
    flex-basis: 41.667%;
    width: 41.667%;
    max-width: 41.667%; }

  .large-six {
    flex-basis: 50%;
    width: 50%;
    max-width: 50%; }

  .large-seven {
    flex-basis: 58.333%;
    width: 58.333%;
    max-width: 58.333%; }

  .large-eight {
    flex-basis: 66.667%;
    width: 66.667%;
    max-width: 66.667%; }

  .large-nine {
    flex-basis: 75%;
    width: 75%;
    max-width: 75%; }

  .large-ten {
    flex-basis: 83.333%;
    width: 83.333%;
    max-width: 83.333%; }

  .large-eleven {
    flex-basis: 91.667%;
    width: 91.667%;
    max-width: 91.667%; }

  .large-twelve {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }
@media (min-width: 90em) {
  .wide-one {
    flex-basis: 8.333%;
    width: 8.333%;
    max-width: 8.333%; }

  .wide-two {
    flex-basis: 16.666%;
    width: 16.666%;
    max-width: 16.666%; }

  .wide-three {
    flex-basis: 25%;
    width: 25%;
    max-width: 25%; }

  .wide-four {
    flex-basis: 33.333%;
    width: 33.333%;
    max-width: 33.333%; }

  .wide-five {
    flex-basis: 41.667%;
    width: 41.667%;
    max-width: 41.667%; }

  .wide-six {
    flex-basis: 50%;
    width: 50%;
    max-width: 50%; }

  .wide-seven {
    flex-basis: 58.333%;
    width: 58.333%;
    max-width: 58.333%; }

  .wide-eight {
    flex-basis: 66.667%;
    width: 66.667%;
    max-width: 66.667%; }

  .wide-nine {
    flex-basis: 75%;
    width: 75%;
    max-width: 75%; }

  .wide-ten {
    flex-basis: 83.333%;
    width: 83.333%;
    max-width: 83.333%; }

  .wide-eleven {
    flex-basis: 91.667%;
    width: 91.667%;
    max-width: 91.667%; }

  .wide-twelve {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }
@media (min-width: 20em) {
  .container .container {
    width: 100%; } }
@media (min-width: 48em) {
  .container .container {
    width: 49rem; } }
@media (min-width: 64em) {
  .container .container {
    width: 65rem; } }
@media (min-width: 90em) {
  .container .container {
    width: 91rem; } }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes #$animation {
  to {
    height: 0;
    padding-top: 0;
    padding-bottom: 0; } }
@keyframes #$animation {
  to {
    height: 0;
    padding-top: 0;
    padding-bottom: 0; } }
.slideUp {
  overflow: hidden;
  -webkit-animation-name: slideUp;
  animation-name: slideUp; }

@-webkit-keyframes #$animation {
  from {
    height: 0;
    padding-top: 0;
    padding-bottom: 0; } }
@keyframes #$animation {
  from {
    height: 0;
    padding-top: 0;
    padding-bottom: 0; } }
.slideDown {
  overflow: hidden;
  -webkit-animation-name: slideDown;
  animation-name: slideDown; }

@-webkit-keyframes #$animation {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes #$animation {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight; }

@-webkit-keyframes #$animation {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes #$animation {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft; }

@-webkit-keyframes #$animation {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes #$animation {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown; }

@-webkit-keyframes #$animation {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
@keyframes #$animation {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft; }

@-webkit-keyframes #$animation {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }
@keyframes #$animation {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }
.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight; }

@-webkit-keyframes #$animation {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
@keyframes #$animation {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp; }

@-webkit-keyframes #$animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes #$animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes #$animation {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes #$animation {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes #$animation {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes #$animation {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

@-webkit-keyframes #$animation {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }
@keyframes #$animation {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }
.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut; }

@-webkit-keyframes #$animation {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes #$animation {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse; }

@-webkit-keyframes #$animation {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0); } }
@keyframes #$animation {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0); } }
.shake {
  -webkit-animation-name: shake;
  animation-name: shake; }

@-webkit-keyframes #$animation {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
@keyframes #$animation {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }

@-webkit-keyframes #$animation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes #$animation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.rotate {
  -webkit-animation-name: rotate;
  animation-name: rotate; }
