<article class="container action">
  <section class="wrapper">
    <div class="column twelve">
      <%=image_tag('callofaction.jpg')%>
    </div>
    <div class="overlay"></div>
    <div class="column twelve title-area">
      <h1>What we do</h1>
      <div class="separator">
        <i class="fa fa-sort fa-rotate-90" aria-hidden="true"></i>
      </div>
      <p>We are interested to listen and discuss your business opportunities and challenges</p>
      <%= link_to contact_path, class:"six medium-four button" do %>
        contact us
      <% end %>
    </div>
  </section>
</article>
<!-- action article -->