<article class="wrapper action">
  <section class="flex-container align-center">
    <div class="flex-column twelve">
      <figure>
        <img src="<%= asset_path('final_words.png') %>">
        <figcaption>
          <p>We are interested to listen and discuss your business opportunities and challenges</p>
            <%= link_to contact_path, class:"small-eight six medium-four large-four button" do %>
              contact us
            <% end %>
        </figcaption>
      </figure>
    </div>
  </section>
</article>
<!-- call for action -->