<article class="wrapper action">
  <section class="flex-container align-center">
    <div class="flex-column twelve">
      <figure>
        <img src="/assets/final_words.png">
        <figcaption>
          <p>We are interested to listen and discuss your business opportunities and challenges</p>
          <a href="#" class="small-eight six medium-four large-four button">contact us</a>
        </figcaption>
      </figure>
    </div>
  </section>
</article>
<!-- call for action -->