<article class="wrapper clients">
  <section class="flex-container middle-column">
    <div class="flex-column twelve medium-three">
      <figure class="brand">
        <a target="_blank" href="#" class="navbar-brand">
        <img src="/assets/clients/1.png" title="Aker Solutions" alt="Client 1" width="auto" height="auto">
      </a>
      </figure>
    </div>
    <div class="flex-column twelve medium-three">
      <figure class="brand">
        <a target="_blank" href="#" class="navbar-brand">
        <img src="/assets/clients/2.png" title="T2 Solutions" alt="Client 1" width="auto" height="auto">
      </a>
      </figure>
    </div>
    <div class="flex-column twelve medium-three">
      <figure class="brand">
        <a target="_blank" href="#" class="navbar-brand">
        <img src="/assets/clients/3.png" title="Scandinavian Tank Storage" alt="Client 1" width="auto" height="auto">
      </a>
      </figure>
    </div>
    <div class="flex-column twelve medium-three">
      <figure class="brand">
        <a target="_blank" href="#" class="navbar-brand">
        <img src="/assets/clients/4.png" title="metso" alt="Client 1" width="auto" height="auto">
      </a>
      </figure>
    </div>
  </section>
</article>
<!-- clients -->