<article class="container clients">
  <section class="wrapper middle-column">
    <div class="column twelve medium-three">
      <figure class="brand">
        <a target="_blank" href="http://www.goteborgenergi.se/" class="navbar-brand">
        <img src="<%= asset_path('clients/6.png') %>" title="Göteborg Energi AB" alt="Göteborg Energi AB" width="auto" height="auto">
      </a>
      </figure>
    </div>
    <div class="column twelve medium-three">
      <figure class="brand">
        <a target="_blank" href="http://www.valmet.com/" class="navbar-brand">
        <img src="<%= asset_path('clients/5.png') %>" title="Valmet" alt="Valmet" width="auto" height="auto">
      </a>
      </figure>
    </div>
    <div class="column twelve medium-three">
      <figure class="brand">
        <a target="_blank" href="http://www.scandinaviantankstorage.com/" class="navbar-brand">
        <img src="<%= asset_path('clients/3.png') %>" title="Scandinavian Tank Storage" alt="Scandinavian Tank Storage" width="auto" height="auto">
      </a>
      </figure>
    </div>
    <div class="column twelve medium-three">
      <figure class="brand">
        <a target="_blank" href="http://www.metso.com/" class="navbar-brand">
        <img src="<%= asset_path('clients/4.png') %>" title="metso" alt="metso" width="auto" height="auto">
      </a>
      </figure>
    </div>
  </section>
</article>
<!-- clients -->