<article class="container">
  <section class="wrapper hero hero-home">
    <div class="column content">
      <header class="header">
        <h1>we provide
          <span class="helighted">smart</span> solution for
          <span class="helighted">business</span> &amp;
          <span class="helighted">people</span>
        </h1>
        <h5>we partner with clients to create human-centric digital experiences that grow with their business</h5>
      </header>
        <%= link_to company_path, class:"small-eight medium-six large-four button nordic-button" do %>
          see our services
        <% end %>
    </div>
  </section>
  <!-- hero home -->
</article>
<!-- .container -->