<article class="wrapper hero">
  <%= render 'layouts/wrappers/header' %>
  <div class="content">
    <section class="flex-container">
      <div class="flex-column">

        <h1>we provide <span class="helighted">smart</span> solution for <span class="helighted">business</span> &amp; <span class="helighted">people</span></h1>

        <h5>we partner with clients to create human-centric digital experiences that grow with their business</h5>

        <a href="#" class="small-eight six medium-four large-four button hero-button">see our services</a>
      </div>
    </section>
  </div><!-- content -->
</article>
<!-- hero -->

