<article class="container-fluid services">
  <section class="wrapper">
    <h1>services</h1>
    <p>Few of our typical assignments</p>
  </section>

  <section class="wrapper service">
    <div class="column twelve large-three">
      <figure class="icon">
        <i class="fa fa-cogs"></i>
        <figcaption>
          <h2>Project Management</h2>
        </figcaption>
      </figure>
      <p>We are ready to take responsibility of managing your projects. We have acted as Project Managers for several industries ranging from IT &amp; Telecom, Energy Production to Raw Materials Management.</p>
    </div>

    <div class="column twelve large-three">
      <figure class="icon">
        <i class="fa fa-cubes"></i>
        <figcaption>
          <h2>Procurement/Supply Management</h2>
        </figcaption>
      </figure>
      <p>We have in-depth knowledge of local and international procurement activities, processes and contracts for equipment as well as services.<p>
    </div>

    <div class="column twelve large-three">
      <figure class="icon">
        <i class="fa fa-line-chart"></i>
        <figcaption>
          <h2>organization analysis</h2>
        </figcaption>
      </figure>
      <p>In connection with e.g. introduction of new technology or revised business processes, the organization often needs to be revised as well.</p>
    </div>

    <div class="column twelve large-three">
      <figure class="icon">
        <i class="fa fa-tasks"></i>
        <figcaption>
          <h2>Evaluation of business plans</h2>
        </figcaption>
      </figure>
      <p>As part of support to both start-ups and due diligence phases at mergers &amp; acquisitions of larger companies, we have evaluated over 100 business plans.</p>
    </div>
  </section>
</article>
<!-- services -->