<article class="wrapper team">
  <section class="flex-container align-center">
    <h1>the team</h1>
    <p>RSG Nordic AB, with offices in Gothenburg and Stockholm, Sweden, is a consultant company specialized in corporate/company and project management assignments.</p>
  </section>
  <section class="flex-container">
    <div class="flex-column twelve large-four">
      <div class="card">
      <figure>
        <img src="<%= asset_path('team/team_1.png') %>" >
        <figcaption>
          <h2>ahmed nadar</h2>
          <h4>ceo</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt.</p>
        </figcaption>
      </figure>
        <div class="social">
          <a href="#" alt="linkedin" title="Nordic on LinkedIn">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" alt="twitter" title="Nordic on Twitter">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" alt="facebook" title="Nordic on Facebook">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" alt="google plus" title="Nordic on Google Plus">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>
        <!-- social -->
      </div>
    </div>
    <div class="flex-column twelve large-four">
      <div class="card">
      <figure>
        <img src="<%= asset_path('team/team_2.png') %>" >
        <figcaption>
          <h2>ahmed nadar</h2>
          <h4>ceo</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt.</p>
        </figcaption>
      </figure>
        <div class="social">
          <a href="#" alt="linkedin" title="Nordic on LinkedIn">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" alt="twitter" title="Nordic on Twitter">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" alt="facebook" title="Nordic on Facebook">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" alt="google plus" title="Nordic on Google Plus">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>
        <!-- social -->
      </div>
    </div>
    <div class="flex-column twelve large-four">
      <div class="card">
      <figure>
        <img src="<%= asset_path('team/team_3.png') %>" >
        <figcaption>
          <h2>ahmed nadar</h2>
          <h4>ceo</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt.</p>
        </figcaption>
      </figure>
        <div class="social">
          <a href="#" alt="linkedin" title="Nordic on LinkedIn">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" alt="twitter" title="Nordic on Twitter">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" alt="facebook" title="Nordic on Facebook">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" alt="google plus" title="Nordic on Google Plus">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>
        <!-- social -->
      </div>
    </div>
  </section>
</article>
<!-- team -->