<div id="company">
  <%= render 'pages/company-wrappers/hero' %>


  <article class="wrapper hero company">
    <%= render 'layouts/wrappers/header' %>
    <div class="content">
      <section class="flex-container">
        <div class="flex-column">
          <h1>we help the <span class="helighted">world's </span> top <span class="helighted">companies</span> build <span class="helighted">amazing</span> digital <span class="helighted">products</span></h1>
        </div>
      </section>
    </div><!-- content -->
  </article>
  <!-- hero  company -->





  <article class="wrapper intro">
    <section class="flex-container align-center">
      <div class="flex-column twelve medium-four header">
        <h1>We view ‘business’ differently at RSG.</h1>
      </div>
      <div class="flex-column twelve medium-eight details">
        <p>RSG Nordic AB, with offices in Gothenburg and Stockholm, Sweden, is a consultant company specialized in corporate/company and project management assignments.</p>
        <p>Our competency ranges from general management, organizational issues, business development, supply chain management and optimizing business processes (with or without IT support) to more specific areas such as how to integrate web-based transactions into the business.</p>
      </div>
    </section>
  </article>

  <div class="divider"></div>



  <article class="wrapper services">
    <section class="flex-container align-center header">
      <h1>services</h1>
      <p>Few of our typical assignments</p>
    </section>

    <section class="flex-container service">

      <div class="flex-column twelve large-six">
        <figure class="icon ts">
          <i class="fa fa-line-chart fa-border"></i>
          <figcaption>
            <h2>Organization analysis &amp; proposed improvements</h2>
          </figcaption>
        </figure>
        <p>In connection with e.g. introduction of new technology or revised business processes, the organization often needs to be revised as well. We have long experience from reviewing, proposing, implementing and setting up the required training for such revamped organizations.
        <br><br>
        We have also carried out mapping of business processes for a large number of companies and proposed the optimum IT tools to support these processes.</p>
      </div>

      <div class="flex-column twelve large-six">
        <figure class="icon fs">
          <i class="fa fa-cogs fa-border"></i>
          <figcaption>
            <h2>Project Management</h2>
          </figcaption>
        </figure>
        <p>We are ready to take responsibility of managing your projects. We have acted as Project Managers for several industries ranging from IT &amp; Telecom, Energy Production, Raw Materials Management to Pulp &amp; Paper.</p>
      </div>

      <div class="flex-column twelve large-six">
        <figure class="icon os">
          <i class="fa fa-tasks fa-border"></i>
          <figcaption>
            <h2>Evaluation of business plans</h2>
          </figcaption>
        </figure>
        <p>As part of support to both start-ups and due diligence phases at mergers &amp; acquisitions of larger companies, we have evaluated over 100 business plans. We have also worked with our clients to improve these plans along with refining the businesses themselves.</p>
      </div>

      <div class="flex-column twelve large-six">
        <figure class="icon ss">
          <i class="fa fa-cubes fa-border"></i>
          <figcaption>
            <h2>Procurement/Supply Management</h2>
          </figcaption>
        </figure>
        <p>We have in-depth knowledge of local and international procurement activities, processes and contracts for equipment as well as services. For multi-national clients we have also developed &amp; executed plans for strategic sourcing of new suppliers in cost-competitive countries.<p>
      </div>
    </section>
  </article>
  <!-- services -->


  <article class="wrapper action">
    <section class="flex-container align-center">
      <div class="flex-column twelve">
        <figure>
          <img src="assets/services/our_mission.png">
          <figcaption>
            <h2>Our Mission</h2>
            <p>To democratize live video broadcasting and provide the tools to bring every event live online.</p>
          </figcaption>
        </figure>
      </div>
    </section>
  </article>
  <!-- call for action -->




<article class="wrapper timeline">
  <section class="flex-container align-center">
    <h1>nordic</h1>
    <p>Throughout the decades</p>
  </section>


  <section class="flex-container epoch">
    <div class="flex-column nine medium-five details">
      <div class="flex-column twelve title">
        <h4>1993</h4>
        <p>Company founded</p>
      </div>
    </div>

    <div class="flex-column three medium-two pic">
      <span><img src="assets/swed_flag.png" alt="Sweden" width="100%" height="100%"></span>
    </div>
    <div class="flex-column twelve medium-five title">
      <h4>1993</h4>
      <p>Company founded</p>
    </div>
  </section>
  <!-- 1993 epoch -->

  <section class="flex-container epoch">
    <div class="flex-column nine medium-five details even">
      <div class="flex-column twelve title">
        <h4>1995</h4>
        <p>Stockholm office opened</p>
      </div>
    </div>
    <div class="flex-column three medium-two pic">
      <span><img src="assets/swed_flag.png" alt="Sweden" width="100%" height="100%"></span>
    </div>
    <div class="flex-column twelve medium-five title even">
      <h4>1995</h4>
      <p>Stockholm</p>
    </div>
  </section>
  <!-- 1995 epoch even -->

  <section class="flex-container epoch">
    <div class="flex-column nine medium-five details">
      <div class="flex-column twelve title">
        <h4>1997</h4>
        <p>Major assignment to provide all software development resources for eBusiness platform of a U.S.-Swedish Internet company.</p>
      </div>
    </div>

    <div class="flex-column three medium-two pic">
      <span><img src="assets/swed_flag.png" alt="Sweden" width="100%" height="100%"></span>
    </div>
    <div class="flex-column twelve medium-five title">
      <h4>1997</h4>
      <p>Major assignment</p>
    </div>
  </section>
  <!-- 1997 epoch -->

  <section class="flex-container epoch">
    <div class="flex-column nine medium-five details even">
      <div class="flex-column twelve title">
        <h4>1998</h4>
        <p>Procurement Management for Aker Kvaerner corporation.</p>
      </div>
    </div>
    <div class="flex-column three medium-two pic">
      <span><img src="assets/swed_flag.png" alt="Sweden" width="100%" height="100%"></span>
    </div>
    <div class="flex-column twelve medium-five title even">
      <h4>1998</h4>
      <p>Aker Kvaerner corporation.</p>
    </div>
  </section>
  <!-- 1998 epoch even -->

  <section class="flex-container epoch">
    <div class="flex-column nine medium-five details">
      <div class="flex-column twelve title">
        <h4>2002</h4>
        <p>Strategic Sourcing in Europe and Asia</p>
      </div>
    </div>

    <div class="flex-column three medium-two pic">
      <span><img src="assets/swed_flag.png" alt="Sweden" width="100%" height="100%"></span>
    </div>
    <div class="flex-column twelve medium-five title">
      <h4>2002</h4>
      <p>Europe and Asia</p>
    </div>
  </section>
  <!-- 2002 epoch -->


  <section class="flex-container epoch">
    <div class="flex-column nine medium-five details even">
      <div class="flex-column twelve title">
        <h4>2004</h4>
        <p>Mapping of Business Processes within Aker Kvaerner and recommendation of IT tools to support these</p>
      </div>
    </div>
    <div class="flex-column three medium-two pic">
      <span><img src="assets/swed_flag.png" alt="Sweden" width="100%" height="100%"></span>
    </div>
    <div class="flex-column twelve medium-five title even">
      <h4>2004</h4>
      <p>Mapping of Business Processes</p>
    </div>
  </section>
  <!-- 2004 epoch even -->

  <section class="flex-container epoch">
    <div class="flex-column nine medium-five details">
      <div class="flex-column twelve title">
        <h4>2006</h4>
        <p>Management of new ERP system for BU of Metso Corporation</p>
      </div>
    </div>

    <div class="flex-column three medium-two pic">
      <span><img src="assets/swed_flag.png" alt="Sweden" width="100%" height="100%"></span>
    </div>
    <div class="flex-column twelve medium-five title">
      <h4>2006</h4>
      <p>Metso Corporation</p>
    </div>
  </section>
  <!-- 2006 epoch -->

  <section class="flex-container epoch">
    <div class="flex-column nine medium-five details even">
      <div class="flex-column twelve title">
        <h4>2009</h4>
        <p>Project Management for STS, Scandinavian Tank Storage</p>
      </div>
    </div>

    <div class="flex-column three medium-two pic">
      <span><img src="assets/swed_flag.png" alt="Sweden" width="100%" height="100%"></span>
    </div>
    <div class="flex-column twelve medium-five title even">
      <h4>2009</h4>
      <p>Two big clients</p>
    </div>
  </section>
  <!-- 2009 epoch even -->


  <section class="flex-container epoch">
    <div class="flex-column nine medium-five details">
      <div class="flex-column twelve title">
        <h4>2011</h4>
        <p>Project Management for Göteborg Energi</p>
      </div>
    </div>

    <div class="flex-column three medium-two pic">
      <span><img src="assets/swed_flag.png" alt="Sweden" width="100%" height="100%"></span>
    </div>
    <div class="flex-column twelve medium-five title">
      <h4>2011</h4>
      <p>PM for Göteborg Energi</p>
    </div>
  </section>
  <!-- 2011 epoch -->

  <section class="flex-container epoch">
    <div class="flex-column nine medium-five details even">
      <div class="flex-column twelve title">
        <h4>2014</h4>
        <p>Plant Management for Göteborg Energi</p>
      </div>
    </div>

    <div class="flex-column three medium-two pic">
      <span><img src="assets/swed_flag.png" alt="Sweden" width="100%" height="100%"></span>
    </div>
    <div class="flex-column twelve medium-five title even">
      <h4>2014</h4>
      <p>Plant for Göteborg Energi</p>
    </div>
  </section>
  <!-- 2015 epoch even -->

  <section class="flex-container epoch">
    <div class="flex-column nine medium-five details">
      <div class="flex-column twelve title">
        <h4>2015</h4>
        <p>Subcontracting Management for Valmet AB</p>
      </div>
    </div>

    <div class="flex-column three medium-two pic">
      <span><img src="assets/swed_flag.png" alt="Sweden" width="100%" height="100%"></span>
    </div>
    <div class="flex-column twelve medium-five title">
      <h4>2015</h4>
      <p>Work with Valmet AB</p>
    </div>
  </section>
  <!-- 2015 epoch -->
</article>
<!-- history -->




<%#= render 'pages/company-wrappers/timeline' %>