<div id="contact">
  <article class="wrapper hero contact">
    <%= render 'layouts/wrappers/header' %>
    <div class="content">
      <section class="flex-container">
        <div class="flex-column">
          <h1>Questions or comments? Get in touch.</h1>
          <h5> WANT TO TALK TO US ABOUT YOUR PROJECT, WE WOULD LOVE TO HEAR FROM YOU.</h5>
        </div>
      </section>
    </div><!-- content -->
  </article>
  <!-- hero -->

  <article class="wrapper services">
    <section class="flex-container align-center">
      <h1>Let’s Talk!</h1>
      <p>We do more than build projects — we build partnerships that help businesses grow.</p>
    </section>

    <section class="flex-container service">
      <div class="flex-column twelve large-six">
        <figure class="brand">
          <a target="_blank" href="#" class="navbar-brand">
          <img src="assets/G_map.png" title="Gothenburg Map" alt="Gothenburg Map">
        </a>
        </figure>
        <section class="align-center map-info">
          <h2>Gothenburg</h2>
          <address>
            Trädgårdsgatan 3 <br>
            411 08 Göteborg,<br>
            Sweden<br>
            <a href="tel:+46317999040 ">+46-31-799-90-40 </a> <br>
            <a href="mailto:nordic@rsg.se">nordic@rsg.se</a>
          <address>
        </section>
      </div>

      <div class="flex-column twelve large-six">
        <figure class="brand">
          <a target="_blank" href="#" class="navbar-brand">
          <img src="assets/S_map.png" title="Stockholm Map" alt="Stockholm Map">
        </a>
        </figure>
        <section class="align-center map-info">
          <h2>Stockholm</h2>
          <address>
            Trädgårdsgatan 3 <br>
            411 08 Göteborg,<br>
            Sweden<br>
            <a href="tel:+46317999040 ">+46-31-799-90-40 </a> <br>
            <a href="mailto:nordic@rsg.se">nordic@rsg.se</a>
          <address>
        </section>
      </div>
    </section>
  </article>
  <!-- services -->
<!--
  <article class="wrapper action">
    <section class="flex-container align-center">
      <div class="flex-column twelve">
        <figure>
          <img src="assets/clients/clients_cta.png">
          <figcaption>
            <p>
              We’ve worked with some truly great companies over the years, and along the way we’ve been fortunate enough to invest in some of our favorite entrepreneurs.
              If you’re working on the next big thing, we’d love to hear about it.
            </p>
            <a href="#" class="eight medium-eight large-six button">
              Have something for us? Get in touch
            </a>
          </figcaption>
        </figure>
      </div>
    </section>
  </article> -->
  <!-- call for action -->
