// _index.sass

@charset "UTF-8"

@import 'https://fonts.googleapis.com/css?family=Imprima'
html, body
  font-family: Imprima
  overflow: auto !important

@import "nordic_theme"
@import "hero"
@import "button"
@import "header"
@import "content"
@import "a-tag"
@import "brand"
@import "menu"
@import "clients"

// @import "parallax"


// LOADING
//=========
.loading
  background: asset-url('ico_loading.gif') no-repeat center center

.loaded section,
.no-js section
  opacity: 1
  -webkit-transition: opacity 300ms ease-out
  -moz-transition: opacity 300ms ease-out
  transition: opacity 300ms ease-out


article
  text-align: center
  color: #5D7992


.services
  h1
    color: $midnight-blue
    font-weight: 300
    font-size: 2.2rem
    letter-spacing: 0.111rem
    margin: 0
    &:after
      +flexbox
      width: 40%
      content: " "
      border: 1px solid $main-red
      margin: 2rem auto 0 auto
      margin-top: 0.5em
  p
    font-size: 1.1rem
    font-weight: 400
    margin-bottom: 5rem
    padding: 0 0.5em
    line-height: 1.3em

// ================
// MEDIA QUERIES
// ================

// SMALL
//======
+respond-to( small )
  .menu-wrapper
    margin: 2em auto 0 auto
    .offset-two
      margin-left: 0


// MEDIUM
//========
+respond-to( medium )
  .navbar a
    font-size: 1.6rem
    font-weight: 400
    letter-spacing: 0.1rem

  .menu-wrapper
    margin-top: 5em
    // .offset-two
    //   margin-left: 0
    ul
      li
        text-align: right
  h1
    font-weight: 600
    font-size: 3em
    letter-spacing: 0.045em
    text-transform: uppercase
    line-height: 1.3em
  h5
    color: $white
    font-size: 1.8em
    font-weight: 300
    line-height: 1.2em
    letter-spacing: 0.005em
    margin-top: 0

  .nordic-button
    font-size: 1em
    padding: 1.35714em 1.92857em 1.21429em
    letter-spacing: 0.1em

  .content
    bottom: auto
    position: relative
    padding-left: 5em
    padding-right: 5em
    margin-top: 7em


// LARGE
// ======
+respond-to( large )
  .menu-wrapper
    .offset-two
      margin-left: 16.66667%