.services
  .wrapper:first-child
    // margin-bottom: 3em
  h1
    +header-1
  h2
    +header-2
  p
    +default-paragraph
  .icon, .fa
    margin: 0 0 1rem 0
  .fa
    font-size: 0.6em
    .fs .fa-border, .os .fa-border

    .service .fs .fa-border,
    .service .ss .fa-border,
    .service .ts .fa-border,
    .service .os .fa-border
      padding: 0.5em 0.40em 0.30em
      border-radius: 100%
      border-width: 1px
      border-color: rgba(45, 64, 91, 0.5)
  .service
    p
      font-size: 1.2em
      line-height: 1.4em
      color: $mid-grey
    .column
      margin-bottom: 2em
    .icon
      font-size: 7.5rem
      line-height: 7.5rem
      color: rgb(255, 54, 93)
    .icon, .fa
      margin: 0 0 2rem 0
    .fs .fa-border,
    .os .fa-border
      padding: 0.5em 0.40em 0.30em
    .fs .fa-border,
    .ss .fa-border,
    .ts .fa-border,
    .os .fa-border
      padding: 0.5em
      border-radius: 100%
      border-width: 1px
      border-color: rgba(45, 64, 91, 0.5)