<article class="container communicate">
  <section class="wrapper">
    <div class="column twelve title-area">
      <h1>Let’s Talk!</h1>
      <p>We do more than build projects — we build partnerships that help businesses grow.</p>
    </div>
  </section>
</article>
<!-- communicate article -->

