<article class="container">
  <section class="wrapper hero hero-contact">
    <div class="column content">
      <header class="header">
        <h1>Questions or comments? </h1>
        <h5>Want to talk to us about your project, we would love to hear from you</h5>
      </header>
    </div>
  </section>
</article>
<!-- .container -->