article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

.flex-layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
  width: 100%;
  /*max-width: 1440px  Desktop HD */
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  min-height: 100vh; }

.flex-vertical-layout {
  flex-flow: row wrap;
  min-height: 0vh;
  margin: 1rem 0; }

.flex-layout-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

.wrapper {
  width: auto;
  padding: 2rem;
  margin: 0 auto; }

.flex-container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.flex-container .auto-column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.flex-column, .flex-columns, .flex-row {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  -webkit-flex: 1 1 0px;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px; }

.large-column {
  height: 20rem; }

.auto-row, .auto-column, .auto-columns {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

html, body {
  height: 100%; }

html {
  font-size: 62.5%; }

body {
  background: #ffffff;
  font: 14px/1.6 "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333333;
  line-height: 1.6;
  color: #222222;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

html, body, div, span, h1, h2, h3, p, a, em, i, b, small, strong, input, footer, header, menu, section, figure, ul, li {
  vertical-align: baseline; }

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTQ7aC6SjiAOpAWOKfJDfVRY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01m4X0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSg7aC6SjiAOpAWOKfJDfVRY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzA7aC6SjiAOpAWOKfJDfVRY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
a {
  color: #333;
  text-decoration: underline;
  outline: 0; }

a:hover, a:focus {
  color: #000; }

ul {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin: 0; }

li {
  position: relative;
  margin: 1rem 0;
  text-align: center; }

.helighted {
  color: #FFDA6C; }

.margin-2rem-bottom {
  margin-bottom: 2rem; }

.margin-2rem-top {
  margin-top: 2rem; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  width: 100%;
  margin-top: 0;
  margin-bottom: 3rem;
  font-weight: 300;
  transition: all 0.75s ease 0s;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s; }

h1 {
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: 0.1rem; }

h2 {
  font-size: 4.5rem;
  line-height: 1.25;
  letter-spacing: 0.1rem; }

h3 {
  font-size: 4rem;
  line-height: 1.3;
  letter-spacing: 0.1rem; }

h4 {
  font-size: 3.5rem;
  line-height: 1.35;
  letter-spacing: 0.08rem; }

h5 {
  font-size: 3rem;
  line-height: 1.5;
  letter-spacing: 0.05rem; }

h6 {
  font-size: 2.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

h1, h2, h3, h4, h5, h6, .navbar, .brand, .button, a, p, address, figcaption {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

p {
  margin-top: 0; }

img {
  vertical-align: middle;
  border: 0; }

figure {
  margin: 0;
  width: 100%;
  height: auto; }

code {
  display: flex;
  flex: 0 1 100%;
  align-self: stretch;
  overflow-x: auto;
  border-radius: 3px;
  border: 0.1rem solid #8664DE;
  border-left-width: 5px;
  background: rgba(255, 255, 255, 0.9);
  padding: 1.25rem;
  margin: 1.6rem 0;
  font-size: 1.3rem;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  color: #0a0a0a;
  font-weight: normal;
  white-space: pre;
  word-wrap: normal; }

code, kbd, pre, samp {
  font-family: Menlo, Monaco, monospace; }

pre {
  display: flex;
  flex: 0 1 auto;
  align-self: stretch;
  overflow-x: auto;
  flex-flow: row wrap; }

/*// Small devices (landscape phones, 34em / 544px and up) */
/*// Medium devices (tablets, 48em / 768px and up) */
@media (min-width: 48em) {
  .medium-one, .medium-two, .medium-three, .medium-four, .medium-five, .medium-six, .medium-seven, .medium-eight, .medium-nine, .medium-ten, .medium-eleven, .medium-twelve {
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
    position: relative;
    min-height: 1px;
    padding-right: 1.5rem;
    padding-left: 1.5rem; }

  .medium-one {
    width: 100%;
    max-width: 8.333%;
    -webkit-flex: 0 0 8.333%;
    -ms-flex: 0 0 8.333%;
    flex: 0 0 8.333%; }

  .offset-one {
    margin-left: 8.33333%; }

  .medium-two {
    width: 16.666%;
    max-width: 16.666%;
    -webkit-flex: 0 0 16.666%;
    -ms-flex: 0 0 16.666%;
    flex: 0 0 16.666%; }

  .offset-two {
    margin-left: 16.66667%; }

  .medium-three {
    width: 25%;
    max-width: 25%;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }

  .offset-three {
    margin-left: 25%; }

  .medium-four {
    width: 33.333%;
    max-width: 33.333%;
    -webkit-flex: 0 0 33.333%;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%; }

  .offset-four {
    margin-left: 33.33333%; }

  .medium-five {
    width: 41.667%;
    max-width: 41.667%;
    -webkit-flex: 0 0 41.667%;
    -ms-flex: 0 0 41.667%;
    flex: 0 0 41.667%; }

  .offset-five {
    margin-left: 41.66667%; }

  .medium-six {
    width: 50%;
    max-width: 50%;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }

  .offset-six {
    margin-left: 50%; }

  .medium-seven {
    width: 58.333%;
    max-width: 58.333%;
    -webkit-flex: 0 0 58.333%;
    -ms-flex: 0 0 58.333%;
    flex: 0 0 58.333%; }

  .offset-seven {
    margin-left: 58.33333%; }

  .medium-eight {
    width: 66.667%;
    max-width: 66.667%;
    -webkit-flex: 0 0 66.667%;
    -ms-flex: 0 0 66.667%;
    flex: 0 0 66.667%; }

  .offset-eight {
    margin-left: 66.66667%; }

  .medium-nine {
    width: 75%;
    max-width: 75%;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }

  .offset-nine {
    margin-left: 75%; }

  .medium-ten {
    width: 83.333%;
    max-width: 83.333%;
    -webkit-flex: 0 0 83.333%;
    -ms-flex: 0 0 83.333%;
    flex: 0 0 83.333%; }

  .offset-ten {
    margin-left: 83.33333%; }

  .medium-eleven {
    width: 91.667%;
    max-width: 91.667%;
    -webkit-flex: 0 0 91.667%;
    -ms-flex: 0 0 91.667%;
    flex: 0 0 91.667%; }

  .offset-eleven {
    margin-left: 91.66667%; }

  .medium-twelve {
    width: 100%;
    max-width: 100%;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }

  .offset-none {
    margin-left: 0%; }

  .column, .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }

  .flex-column, .flex-columns, .flex-row {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }

  .flex-container {
    padding-right: 1.5rem;
    padding-left: 1.5rem; } }
/*// Large devices (desktops, 62em / 992px and up) */
@media (min-width: 62em) {
  .flex-container {
    width: 970px; } }
/*// Extra large devices (large desktops, 75em / 1200px and up) */
@media screen and (min-width: 75em) {
  .large-one, .large-two, .large-three, .large-four, .large-five, .large-six, .large-seven, .large-eight, .large-nine, .large-ten, .large-eleven, .large-twelve {
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
    position: relative;
    min-height: 1px;
    padding-right: 1.5rem;
    padding-left: 1.5rem; }

  .large-one {
    width: 8.333%;
    max-width: 8.333%;
    -webkit-flex: 0 0 8.333%;
    -ms-flex: 0 0 8.333%;
    flex: 0 0 8.333%; }

  .offset-one {
    margin-left: 8.33333%; }

  .large-two {
    width: 16.666%;
    max-width: 16.666%;
    -webkit-flex: 0 0 16.666%;
    -ms-flex: 0 0 16.666%;
    flex: 0 0 16.666%; }

  .offset-two {
    margin-left: 16.66667%; }

  .large-three {
    width: 25%;
    max-width: 25%;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }

  .offset-three {
    margin-left: 25%; }

  .large-four {
    width: 33.333%;
    max-width: 33.333%;
    -webkit-flex: 0 0 33.333%;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%; }

  .offset-four {
    margin-left: 33.33333%; }

  .large-five {
    width: 41.667%;
    max-width: 41.667%;
    -webkit-flex: 0 0 41.667%;
    -ms-flex: 0 0 41.667%;
    flex: 0 0 41.667%; }

  .offset-five {
    margin-left: 41.66667%; }

  .large-six {
    width: 50%;
    max-width: 50%;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }

  .offset-six {
    margin-left: 50%; }

  .large-seven {
    width: 58.333%;
    max-width: 58.333%;
    -webkit-flex: 0 0 58.333%;
    -ms-flex: 0 0 58.333%;
    flex: 0 0 58.333%; }

  .offset-seven {
    margin-left: 58.33333%; }

  .large-eight {
    width: 66.667%;
    max-width: 66.667%;
    -webkit-flex: 0 0 66.667%;
    -ms-flex: 0 0 66.667%;
    flex: 0 0 66.667%; }

  .offset-eight {
    margin-left: 66.66667%; }

  .large-nine {
    width: 75%;
    max-width: 75%;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }

  .offset-nine {
    margin-left: 75%; }

  .large-ten {
    width: 83.333%;
    max-width: 83.333%;
    -webkit-flex: 0 0 83.333%;
    -ms-flex: 0 0 83.333%;
    flex: 0 0 83.333%; }

  .offset-ten {
    margin-left: 83.33333%; }

  .large-eleven {
    width: 91.667%;
    max-width: 91.667%;
    -webkit-flex: 0 0 91.667%;
    -ms-flex: 0 0 91.667%;
    flex: 0 0 91.667%; }

  .offset-eleven {
    margin-left: 91.66667%; }

  .large-twelve {
    width: 100%;
    max-width: 100%;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }

  .offset-none {
    margin-left: 0%; }

  .align-left {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }

  .align-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }

  .align-right {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }

  .align-justify {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: space-between; }

  .align-spaced {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  /* vertical alignment */
  .top-column {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }

  .middle-column {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

  .bottom-column {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }

  .arround-column {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  .between-column {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  .order-first-column {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1; }

  .order-last-column, .order-one-column {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }

  .order-two-columns {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }

  .order-three-columns {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3; }

  .order-four-columns {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4; }

  .order-five-columns {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5; }

  .order-six-columns {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6; }

  .row-reverse {
    flex-direction: row-reverse; }

  .column-reverse {
    flex-direction: column-reverse; }

  .flex-container {
    width: 1170px; } }
/*// Extra small devices (portrait phones, less than 34em / 544px) */
/*// Extra small devices (portrait phones, less than 34em / 544px) */
@media (max-width: 33.9em) {
  .small-one, .small-two, .small-three, .small-four, .small-five, .small-six, .small-seven, .small-eight, .small-nine, .small-ten, .small-eleven, .small-twelve {
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
    position: relative;
    min-height: 1px;
    padding-right: 1.5rem;
    padding-left: 1.5rem; }

  .small-one {
    width: 100%;
    max-width: 8.333%;
    -webkit-flex: 0 0 8.333%;
    -ms-flex: 0 0 8.333%;
    flex: 0 0 8.333%; }

  .offset-one {
    margin-left: 8.33333%; }

  .small-two {
    width: 16.666%;
    max-width: 16.666%;
    -webkit-flex: 0 0 16.666%;
    -ms-flex: 0 0 16.666%;
    flex: 0 0 16.666%; }

  .offset-two {
    margin-left: 16.66667%; }

  .small-three {
    width: 25%;
    max-width: 25%;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }

  .offset-three {
    margin-left: 25%; }

  .small-four {
    width: 33.333%;
    max-width: 33.333%;
    -webkit-flex: 0 0 33.333%;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%; }

  .offset-four {
    margin-left: 33.33333%; }

  .small-five {
    width: 41.667%;
    max-width: 41.667%;
    -webkit-flex: 0 0 41.667%;
    -ms-flex: 0 0 41.667%;
    flex: 0 0 41.667%; }

  .offset-five {
    margin-left: 41.66667%; }

  .small-six {
    width: 50%;
    max-width: 50%;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }

  .offset-six {
    margin-left: 50%; }

  .small-seven {
    width: 58.333%;
    max-width: 58.333%;
    -webkit-flex: 0 0 58.333%;
    -ms-flex: 0 0 58.333%;
    flex: 0 0 58.333%; }

  .offset-seven {
    margin-left: 58.33333%; }

  .small-eight {
    width: 66.667%;
    max-width: 66.667%;
    -webkit-flex: 0 0 66.667%;
    -ms-flex: 0 0 66.667%;
    flex: 0 0 66.667%; }

  .offset-eight {
    margin-left: 66.66667%; }

  .small-nine {
    width: 75%;
    max-width: 75%;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }

  .offset-nine {
    margin-left: 75%; }

  .small-ten {
    width: 83.333%;
    max-width: 83.333%;
    -webkit-flex: 0 0 83.333%;
    -ms-flex: 0 0 83.333%;
    flex: 0 0 83.333%; }

  .offset-ten {
    margin-left: 83.33333%; }

  .small-eleven {
    width: 91.667%;
    max-width: 91.667%;
    -webkit-flex: 0 0 91.667%;
    -ms-flex: 0 0 91.667%;
    flex: 0 0 91.667%; }

  .offset-eleven {
    margin-left: 91.66667%; }

  .small-twelve {
    width: 100%;
    max-width: 100%;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }

  .offset-none {
    margin-left: 0%; } }
/*// Small devices (landscape phones, less than 48em / 768px) */
/*// Small devices (landscape phones, less than 48em / 768px) */
/*// Medium devices (tablets, less than 62em / 992px) */
/*// Medium devices (tablets, less than 62em / 992px) */
/*// Large devices (desktops, less than 75em / 1200px) */
/*// Large devices (desktops, less than 75em / 1200px) */
.header-banner {
  background: rgba(47, 47, 47, 0.98); }

header {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: bold;
  padding: 16px 0; }
  header a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: all 300ms; }
    header a:hover {
      color: white; }
  header .search-form input {
    border: none;
    border-radius: 5px;
    padding: 5px 8px; }
  header .avatar {
    border-radius: 50%; }

.section-nav {
  padding: 10px 0;
  border-bottom: 1px solid #ccc; }
  .section-nav a {
    font-weight: bold;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 20px 0 0; }
    .section-nav a.active, .section-nav a:hover {
      color: black; }

.positioner {
  max-width: 970px;
  margin: 0 auto; }

header, header nav, header nav ul, header .user-tools {
  display: flex; }

header {
  justify-content: space-between; }
  header nav {
    align-items: center; }
    header nav ul li {
      margin: 0 20px; }
  header .user-tools {
    align-items: center; }
    header .user-tools img {
      margin: 0 20px; }

.hero {
  padding: 0 0 2.5rem 0;
  background-image: url("hero_bg.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin: 0;
  width: 100%;
  /* ~~~~~~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~~~~~ */
  background-color: transparent; }
  .hero .header {
    max-width: 100%;
    width: 100%;
    padding: 1em 0; }
  .hero .brand {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    text-align: center; }
  .hero a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out; }
  .hero a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    background-color: #ff365d;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .hero a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  .hero .brand img {
    margin-bottom: 1rem; }
  .hero .navbar a {
    padding-bottom: 1rem;
    /*text-transform: uppercase */
    font-size: 1.3rem;
    line-height: 100%;
    font-weight: 600;
    letter-spacing: 0rem;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s; }

.hero .content {
  width: 100%;
  bottom: 0;
  top: 30%;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  vertical-align: center;
  line-height: 1.7;
  width: 100%;
  position: relative;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%); }

.hero .content h1, .hero .content h5 {
  text-align: center;
  width: 100%;
  letter-spacing: 0rem; }

.hero .content h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem; }

.hero .content h5 {
  font-weight: 400;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 2.5rem; }

.hero-button {
  text-transform: uppercase;
  padding: 1.2rem;
  margin: 0 0 1rem 0;
  font-size: 1.4rem;
  font-weight: 400;
  transition: none;
  color: #FFFFFF;
  display: inline-flex;
  background-color: transparent;
  border-radius: 0.7rem;
  border: 0.2rem solid #ffda6c; }

.hero-button:after {
  background-color: #ff365d;
  opacity: 0.5;
  -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  transform: translateY(-50%) translateX(-50%) rotate(90deg); }

.hero-button:before {
  background: none; }

.hero-button:hover {
  border: 0.2rem solid #ff365d;
  /*background-color: rgb(255, 54, 93) */ }

.hero-button:hover:after {
  opacity: 1;
  height: 900% !important; }

/* media query */
/* Small devices (landscape phones, 34em / 544px and up) */
@media (min-width: 34em) {
  .hero-button:hover:after {
    opacity: 1;
    height: 1000% !important; }

  .navbar a {
    font-size: 1.8rem;
    letter-spacing: 0.1rem; }

  .hero .content h1 {
    font-size: 3.5rem; }

  .hero .content h5 {
    font-size: 2rem; }

  .hero-button {
    font-size: 1.7rem; } }
/* Medium devices (tablets, 48em / 768px and up) */
@media (min-width: 48em) {
  .brand {
    text-align: left; }

  .header {
    max-width: 100%;
    width: 100%;
    padding: 3rem 0 1rem 0;
    margin: 0 auto; }

  .navbar a {
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 0.1rem; }

  .hero .content {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

  .hero .content h5 {
    font-weight: 400;
    font-size: 2rem;
    font-style: italic;
    line-height: 4rem;
    width: 100%; }

  .hero .content h1 {
    font-weight: 700;
    font-size: 6rem;
    line-height: 8rem; }

  .hero-button {
    font-size: 2rem;
    margin-top: 3rem; } }
/* Large devices (desktops, 62em / 992px and up) */
@media (min-width: 62em) {
  .header {
    padding: 3rem 0 1rem 0;
    margin: 0 auto; }

  .hero .content {
    top: 50%; }

  .hero-button {
    font-size: 2.7rem; } }
/* Extra large devices (large desktops, 75em / 1200px and up) */
@media (min-width: 75em) {
  .header {
    padding: 3rem 0 1rem 0;
    margin: 0 auto; } }
/* clients
 * ///////////////////////// */
.clients {
  margin-bottom: 3em;
  background-color: #F0F0F0;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%; }

.clients .flex-column {
  margin: 1rem 0;
  padding: 1rem; }

@media (min-width: 75em) {
  .clients .flex-column {
    margin: 0;
    padding: inherit; } }
.clients .brand {
  text-align: center;
  transition: 0.3s linear; }

.clients .brand:hover {
  transform: scale(1.1);
  transition: 0.3s linear;
  box-shadow: 0 0.5rem 0.5rem #BABABA; }

.clients a {
  display: flex;
  justify-content: center;
  border-left: solid 0 transparent; }

.clients a:hover, .clients a:before {
  background: none; }

/* services ///////////////////////// */
.services, .team, .timeline {
  text-align: center;
  color: #5D7992; }

.services section, .team section, .timeline section {
  margin-bottom: 5rem; }

.services .service {
  margin-bottom: 0; }

.services h1, .services h2,
.team h1, .team h2,
.timeline h1, .timeline h2 {
  text-transform: capitalize; }

.services h1, .team h1, .intro h1, .timeline h1 {
  font-weight: 600;
  font-size: 3rem; }

.services h1:after, .team h1:after, .timeline h1:after {
  display: flex;
  width: 30%;
  content: " ";
  border: 1px solid #ff365d;
  margin: 2rem auto 0 auto; }

.service h2, .team h2, .timeline h2 {
  color: #2D405B;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 0; }

.service .icon {
  font-size: 7.5rem;
  line-height: 7.5rem;
  color: #ff365d;
  /*margin: 0 0 1rem 0 */ }

.service .icon, .service .fa {
  margin: 0 0 2rem 0; }

.services p, .team p, .timeline p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 5rem; }

.service .flex-column.five {
  padding-right: 3rem; }

@media (min-width: 48em) {
  .services h1, .team h1, .timeline h1 {
    font-size: 4rem; }

  .services p, .team p, .timeline p {
    font-size: 2.2rem; }

  /* action */
  .action {
    padding: 0;
    /*margin-bottom: 3rem */
    position: relative;
    overflow: hidden; }

  .action .flex-container, .action .flex-column {
    padding: 0; }

  .action img {
    position: relative;
    display: block;
    width: 100%;
    min-height: 120px;
    height: auto;
    z-index: 1;
    opacity: 1; }

  /*  -webkit-transition: all .4s
   * -o-transition: all .4s
   * transition: all .4s */
  .action figcaption {
    color: #ffffff;
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem 2rem;
    padding-bottom: 0rem;
    z-index: 2; }

  /*  background: -webkit-linear-gradient(0deg,rgba(4,12,33,.8) 0,rgba(61,105,231,0) 100%)
   * background: linear-gradient(0deg,rgba(4,12,33,.8) 0,rgba(61,105,231,0) 100%)
   * -webkit-transition: background .4s
   * transition: background .4s */
  .action p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8rem; }

  .action .button {
    background-color: #ff365d;
    border-color: #ff365d;
    color: #ffffff;
    border-radius: 0.7rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    display: inline-flex; } }
@media (min-width: 48em) and (min-width: 34em) {
  .action img {
    min-height: 100%; }

  .action figcaption {
    padding: 2rem 3rem 1rem;
    /*height: 100% */ }

  .action p {
    font-size: 2rem;
    line-height: 3rem;
    /*margin-bottom: 1rem */ }

  .action .button {
    font-size: 1.5rem; } }
@media (min-width: 48em) and (min-width: 48em) {
  .action figcaption {
    padding: 5rem 3rem 1rem; }

  .action p {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 2rem; }

  .action .button {
    font-size: 2rem; } }
@media (min-width: 48em) and (min-width: 62em) {
  .action .flex-container {
    width: 100%; } }
@media (min-width: 48em) and (min-width: 75em) {
  .action figcaption {
    padding: 15rem 3rem 1rem;
    height: 100%; } }
@media (min-width: 48em) {
  margin-right: 1rem;
  .action span {
    font-size: 1rem;
    font-weight: 100;
    text-transform: uppercase; }

  .action span.tel {
    text-decoration: underline;
    color: #ffda6c; } }
/* team ============================================= */
.team {
  background-color: #F7F9FA;
  padding-top: 5rem;
  width: 100%;
  margin-right: 0;
  margin-left: 0; }

.team p {
  color: #2D405B; }

.team .flex-column {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.team h2 {
  font-size: 2.5rem; }

.team h4 {
  color: #F08740;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600; }

.team p {
  margin-bottom: 3rem; }

.card .social {
  margin-bottom: 2rem; }

.card .social a:before {
  background: none; }

.card .social .fa-stack {
  border: 1px solid #ff365d;
  border-radius: 50%;
  margin: 0px 1rem; }

.fa-inverse {
  color: #ff365d; }

.card .social .fa-stack:hover {
  border: 1px solid #fff; }

.fa-inverse:hover {
  color: #ffffff; }

.card {
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;
  background-color: #fdfdfd;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.card:hover {
  background-color: #fff;
  /*box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5) */
  border-radius: 0 0 0.7rem 0.7rem;
  -webkit-box-shadow: 0 14px 15px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 14px 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 14px 15px 0 rgba(0, 0, 0, 0.2); }

.card img {
  position: relative;
  display: block;
  width: 100%;
  min-height: 100px;
  height: auto;
  opacity: 1;
  margin-bottom: 2rem;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.card img:hover {
  -webkit-transform: scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; }
  .card img:hover .footer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
    padding: 0;
    color: #ffffff;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .card img:hover .footer .flex-container {
    z-index: 3;
    padding: 0;
    /*position: absolute */
    position: relative;
    width: 100%;
    height: 100%;
    top: 0; }
  .card img:hover .footer .map {
    width: 100%;
    height: 100%;
    /*height: 100vh */
    position: absolute;
    /*position: relative */
    background-color: #323232;
    padding: 0;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .card img:hover .footer .top {
    padding: 5rem 1rem 0 1rem;
    z-index: 2;
    margin: 0 auto; }
  .card img:hover .footer .flex-column {
    padding: 0; }

.footer .brand span {
  color: #FFD543;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  width: 100%; }

.footer p {
  font-size: 1.4rem;
  letter-spacing: 0rem; }

.footer .brand p {
  font-size: 1.1rem;
  width: 100%;
  margin: 1rem 0; }

.footer h6 {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem; }

.footer h6:after {
  display: flex;
  width: 20%;
  content: " ";
  border: 1px solid #ffffff;
  margin-top: 0.3rem; }

.footer .content .flex-container {
  position: relative;
  margin-bottom: 2rem;
  padding: 0; }

/*.footer .content a, */
.footer .city {
  text-transform: capitalize;
  padding: 0 0 0.5rem 0;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 400; }

.footer .city {
  color: #ffda6c; }

.fa-2x {
  font-size: 2em; }

.footer span {
  color: #ff365d;
  font-size: 1.2rem; }

.footer .tel, .footer .mail {
  color: #ff365d; }

.footer .top .social a:before {
  background: none; }

.footer .bottom {
  text-align: center; }

.footer .bottom .flex-column {
  margin-bottom: 0; }

.footer address {
  font-size: 1.3rem;
  font-style: normal;
  display: none; }

.toronto {
  background-color: rgba(29, 29, 29, 0.54);
  margin: 0;
  z-index: 3; }

.toronto p {
  margin: 2rem 0;
  font-size: 1.1rem; }

.toronto p, .toronto a {
  color: rgba(255, 255, 255, 0.57); }

.toronto a {
  text-decoration: underline; }

.toronto i {
  color: #ff365d; }
  @media (min-width: 48em) {
    .toronto i {
      /*.footer .content a, */ }
      .toronto i .footer .brand {
        text-align: center; }
      .toronto i .footer h6 {
        font-size: 2rem;
        margin-bottom: 2rem; }
      .toronto i .footer h6:after {
        width: 15%; }
      .toronto i .footer .city {
        font-size: 1.6rem; }
      .toronto i .footer .top a {
        font-size: 1.5rem; } }

@media (min-width: 75em) {
  .footer .top .flex-container {
    text-align: left; }

  .footer .top {
    width: 1170px; }

  .footer address {
    display: block; } }
/*~~~~~~~~~~~~~~~~~~~ Company ~~~~~~~~~~~~~~~~~~~ */
.company {
  background-image: url("../images/company_bg.png"); }

.company .content h1 {
  font-weight: 700;
  /* font-size: 4rem */
  text-transform: capitalize;
  line-height: 5rem; }

.intro .header, .intro .details {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.intro .header {
  background-image: url("../images/company_intro_bg.png"); }

.intro .details {
  background-image: url("../images/company_details_bg.png"); }

.intro h1 {
  font-size: 3rem;
  font-weight: 800;
  font-style: italic; }

.intro p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 3rem;
  text-align: center;
  color: #2D405B; }

.intro p:nth-child(2) {
  margin-bottom: 0; }

.divider {
  border-image: url("../images/hr_line.png") 0 30 10 20 stretch repeat;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; }

#company .services h1:after, #company .timeline h1:after {
  content: none; }

#company .services .header p, #company .timeline p {
  color: #ff365d;
  font-weight: 200;
  font-size: 2.3rem;
  margin-bottom: 0;
  padding: 0 1rem; }

#company .timeline p {
  padding: 0;
  font-size: 1.4rem;
  line-height: 2.1rem; }

#company .services .header h1, #company .timeline h1 {
  margin-bottom: 1rem; }

.service .fs .fa-border,
.service .ss .fa-border,
.service .ts .fa-border,
.service .os .fa-border {
  border-radius: 100%;
  border-width: 1px;
  border-color: rgba(45, 64, 91, 0.5); }

.service .fs .fa-border, .service .os .fa-border {
  padding: 0.5em 0.4em 0.3em; }

.service .ss .fa-border {
  padding: 0.3em 0.27em 0.5em; }

.service .ts .fa-border {
  padding: 0.5em 0.34em 0.3em; }

#company .action h2 {
  font-size: 3rem;
  margin-bottom: 0; }

#company .action figcaption {
  margin-bottom: 2rem; }

#company .timeline {
  width: 100%;
  background-image: url("../images/timeline_bg.png");
  z-index: 1; }

#company .timeline section:nth-child(2):before {
  top: 50%; }

#company .timeline section:last-child:before {
  top: 0;
  height: 30%; }

#company .timeline .epoch {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 2em 0;
  position: relative; }

#company .timeline .epoch:before {
  content: "";
  background: #2D4059;
  z-index: -1;
  position: absolute;
  left: 12%;
  height: 150%;
  width: 5px;
  top: 0; }
  #company .timeline .epoch:before #company .timeline .epoch .details {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    border: 1px solid #222;
    border-radius: 0.6rem;
    padding: 1rem;
    background-color: #2D4059;
    border-left: 0.6rem solid #ff365d; }
  #company .timeline .epoch:before #company .timeline .epoch .details:after {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #ff365d;
    transform: scale(0.707) rotate(45deg);
    left: -1.6rem;
    top: 1.5rem;
    background-color: #ff365d;
    z-index: -1;
    border-radius: 0.4rem; }
  #company .timeline .epoch:before #company .timeline .epoch .details .title {
    display: block;
    padding: 0; }
  #company .timeline .epoch:before #company .timeline .epoch .details .title h4 {
    color: #fff;
    margin-bottom: 0;
    font-size: 2.3rem;
    font-weight: 600; }
  #company .timeline .epoch:before #company .timeline .epoch .title {
    display: none; }

#company .timeline .epoch .details .title p {
  color: #d0d8e0;
  font-size: 1.5rem;
  font-weight: 400; }
  #company .timeline .epoch .details .title p .timeline .epoch .pic {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    padding-top: 1rem; }

.timeline .epoch .pic img {
  width: 100%; }

@media (min-width: 34em) {
  #company .action figcaption {
    padding: 0 1rem;
    margin: 0; }

  .timeline .epoch .pic img {
    width: 50%; } }
@media (min-width: 48em) {
  .company .content h1 {
    line-height: 7rem;
    font-weight: 400; }

  .intro .header {
    background-size: 50%; }

  .intro h1 {
    position: absolute;
    top: 25%;
    font-size: 4rem;
    font-weight: 700;
    text-align: left; }

  .intro p {
    font-size: 2.2rem; }

  .intro .details {
    padding-left: 1rem;
    font-size: 2rem;
    line-height: 4rem;
    margin-bottom: 1rem; }

  #company .timeline .epoch .title {
    display: block; }

  #company .timeline .epoch .title.even {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1; }

  #company .timeline .epoch .details .title h4 {
    display: none; }

  #company .timeline .epoch:before {
    content: "";
    background: #2D4059;
    z-index: -1;
    position: absolute;
    left: 49.6%;
    height: 150%;
    width: 5px;
    top: 0; }

  #company .timeline .epoch .details.even {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    border-left: 0.6rem solid #ff365d;
    border-right: none; }

  #company .timeline .epoch .details {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    border: 1px solid #222;
    border-radius: 0.6rem;
    padding: 1rem;
    background-color: #2D4059;
    border-right: 0.6rem solid #ff365d; }

  #company .timeline .epoch .details:after {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #ff365d;
    transform: scale(0.707) rotate(45deg);
    right: -1.6rem;
    left: initial;
    /*left: 28.6rem */
    top: 1.5rem;
    background-color: #ff365d;
    z-index: -1;
    border-radius: 0.4rem; }

  #company .timeline .epoch .details.even:after {
    left: -1.6rem;
    top: 1.5rem; }

  .timeline .epoch .pic {
    /* -webkit-order: -1 */
    -ms-flex-order: -1;
    order: 0;
    padding-top: 1rem; }

  .timeline .title h4 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem; }

  #company .timeline .epoch .title p {
    font-size: 1.6rem;
    font-weight: 600; } }
@media (min-width: 62em) {
  #company .action figcaption {
    padding: 5rem 3rem 1rem;
    margin-bottom: 2rem; }

  #company .timeline .epoch .details:after {
    /*left: 38rem */
    left: initial; }

  #company .timeline .epoch:before {
    left: 49.9%; } }
@media (min-width: 75em) {
  #company .action figcaption {
    padding: 5rem 3rem 1rem;
    margin: 0; }

  #company .timeline .epoch .details:after {
    /*left: 47rem */
    left: initial; } }
